:root {
  --x-8d-1428: rgba(141, 20, 40, 1);
  --subtopic-header-font-family: "DMSans-Bold", Helvetica;
  --subtopic-header-font-weight: 700;
  --subtopic-header-font-size: 32px;
  --subtopic-header-letter-spacing: 0px;
  --subtopic-header-line-height: normal;
  --subtopic-header-font-style: normal;
  --definition-1-1-font-family: "DMSans-Regular", Helvetica;
  --definition-1-1-font-weight: 400;
  --definition-1-1-font-size: 22px;
  --definition-1-1-letter-spacing: 0px;
  --definition-1-1-line-height: normal;
  --definition-1-1-font-style: normal;
  --content-font-family: "DMSans-Regular", Helvetica;
  --content-font-weight: 400;
  --content-font-size: 23px;
  --content-letter-spacing: 0px;
  --content-line-height: normal;
  --content-font-style: normal;
  --example-font-family: "DMSans-Regular", Helvetica;
  --example-font-weight: 400;
  --example-font-size: 32px;
  --example-letter-spacing: 0px;
  --example-line-height: normal;
  --example-font-style: normal;
  --note-font-family: "DMSans-Regular", Helvetica;
  --note-font-weight: 400;
  --note-font-size: 28px;
  --note-letter-spacing: 0px;
  --note-line-height: 35px;
  --note-font-style: normal;
  --formula-font-family: "DMSans-Regular", Helvetica;
  --formula-font-weight: 400;
  --formula-font-size: 27px;
  --formula-letter-spacing: 0px;
  --formula-line-height: normal;
  --formula-font-style: normal;
}
